* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1080px;
    margin: auto;
    background-color: ;
    height: 100%;
}

.container::after {
    clear: both;
    display: table;
    content: "";
}

#header-top {
    height: 100px;
    width: 100%;
    position: fixed;
    background-color: #f5f8fa;
    border-bottom: 1px solid #cbd6e2;;



}

/*#header-top::after {
    position: fixed;
}*/

#header-bottom {
    padding: 50px;
    height: 150px;

    border-bottom: 1px solid #cbd6e2;;
}

#logo {
    padding: 45px 0px 0px;

}

.imglogo {
    text-align: left;
}

.float-left {
    float: left;
    background-color: ;
    height: 100%;
    width: 50%;
}

.float-right {
    float: left;
    background-color: ;
    height: 100%;
    width: 50%;
}

.float-left-menu {
    height: 100%;
    width: 45%;
    background-color: ;
    line-height: 110px;
}





.float-left-hbottom {
    float: left;
    background-color: ;
    height: 100%;
    width: 25%;
}

.float-right-menu {
    text-align: right;
    line-height: 100px;
}

.float-right-hbottom {
    float: left;
    background-color: ;
    height: 100%;
    width: 75%;
    text-align: right;
    padding: 50px;
}

.float-right-hbottom a {
    margin: 30px;
    font-size: 18px;
    text-decoration: none;
    color: #33475b;
    font-weight: bolder;

}


.hubspot {
    background-color: #ff7a59;
    padding: 10px;
    margin-right: 5%;
    color: white;


}

.login {
    padding: 12px 30px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #ff7a59;
    margin-left: 8px;
    color: #ff7a59;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
}





#jumbotron {
    height: 700px;
    /*background-color: rgb(255, 235, 205 , 0.4);*/
    background-image: url("images/background-jumbo.png");
    background-size: contain;
}

.jumbo-left {
    width: 40%;
    background-color: ;
    float: left;
    margin-top: 150px;

}

.jumbo-left h1 {
    font-size: 45px;
    margin-bottom: 18px;
}

.jumbo-left p {
    font-size: 18px;
    margin: 18px 0px 0px;
}

.jumbo-left button {
    border-radius: 15px;
    display: inline-block;
    background-color: #ff7a59;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    margin: 18px 0px 0px;
}

.btn {
    border-radius: 15px;
    display: inline-block;
    background-color: #ff7a59;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    margin: 18px 0px 0px;
}

.btn-f {
    border-radius: 15px;
    display: inline-block;
    background-color: #ff7a59;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    margin: 18px 0px 0px;
}



#sectionmain {
    background-color: ;
}

.feature-top {
    width: 100%;
}

.feature1 {
    width: 30%;
    height: 300px;
    background-color: ;
    float: left;
}

.feature2 {
    width: 70%;
    height: 300px;
    background-color: ;
    float: left;
    position: relative;
}

.featurewrapper {
    width: 50%;
    margin-left: 100px;
    position: absolute;
    top: 15%;
    left: 5%;
    transform: translate(-50%; );
}

.featurewrapper li {
    display: inline-block;
    list-style-type: none;
}

ul li {
    list-style-type: none;
}

.feature-bottom-list li {
    margin-left: 10px;
}

.feature-bottom {
    width: 100%;
}

.feature-bottom h4 {
    font-size: 20px;
    margin: 10px;
}

.feature-bottom p {
    margin: 10px;
    font-size: 14px;
}

.featurebox1 {
    background-color: ;
    width: 360px;
    height: 300px;
    float: left;
    position: relative;
}

.featurebox2 {
    background-color: ;
    width: 360px;
    height: 300px;
    float: left;
    position: relative;
}

.featurebox3 {
    background-color: ;
    width: 360px;
    height: 300px;
    float: left;
    position: relative;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sectionresults {}

.row {
    width: 100%;

}

.awardtitle {
    margin: auto;

    max-width: 700px;
}

.awardtitle p {
    font-size: 18px;
    margin: 18px 0px 0px;
}


.awardtitle h2 {
    font-size: 30px;
    margin: 18px;
}
