* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1080px;
    margin: auto;
    background-color: ;
    height: 100%;
}

.container::after {
    clear: both;
    display: table;
    content: "";
}

#header-top {
    height: 120pX;
}

#header-top::after {
    position: fixed;
}

#header-bottom {
    height: 120pX;
}

.float-left {
    float: left;
    background-color: green;
    height: 100%;
    width: 50%;
}

.float-right {
    float: left;
    background-color: red;
    height: 100%;
    width: 50%;
}

.float-left-menu {
    height: 100%;
    width: 45%;
    background-color: gold;
}

.float-left-hbottom {
    float: left;
    background-color: green;
    height: 100%;
    width: 25%;
}

.float-right-hbottom {
    float: left;
    background-color: mediumpurple;
    height: 100%;
    width: 75%;
}

#jumbotron {
    height: 400px;
}

.jumbo-left {
    width: 35%;
    background-color: ;
    float: left;
}

.jumbo-left h1 {
    font-size: 45px;
    margin-bottom: 18px;
}

.jumbo-left p {
    font-size: 18px;
    margin: 18px 0px 0px;
}

.jumbo-left button {
    border-radius: 15px;
    display: inline-block;
    background-color: #ff7a59;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    margin: 18px 0px 0px;
}


.btn {
    border-radius: 15px;
    display: inline-block;
    background-color: #ff7a59;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    margin: 18px 0px 0px;
}


.btn-f {
    border-radius: 15px;
    display:inline-block;

    background-color: #ff7a59;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    margin: 18px 0px 0px;
}










.jumbo-right {
    width: 65%;
    background-image: url("images/habbo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    height: 100%;
    float: left;
}

#sectionmain {
    background-color: ;
}

.feature-top {
    width: 100%;
}

.feature1 {
    width: 30%;
    height: 300px;
    background-color: brown;
    float: left;
}

.feature2 {
    width: 70%;
    height: 300px;
    background-color: Coral;
    float: left;
    position: relative;
}

.featurewrapper {
    width: 50%;
    margin-left: 100px;
    position: absolute;
    top: 20%;
    transform: translate(-50%; );
}

.featurewrapper li {
    display: inline-block;

    list-style-type: none;
}

ul li {
    list-style-type: none;

}

.feature-bottom-list li {
    margin-left: 10px;
}


.feature-bottom {
    width: 100%;
}

.feature-bottom h4 {
    font-size: 20px;
    margin: 10px;
}

.feature-bottom p {
    margin: 10px;
    font-size: 14px;
}

.featurebox1 {
    background-color: green;
    width: 360px;
    height: 300px;
    float: left;
    position: relative;
}

.featurebox2 {
    background-color: red;
    width: 360px;
    height: 300px;
    float: left;
    position: relative;
}

.featurebox3 {
    background-color: yellow;
    width: 360px;
    height: 300px;
    float: left;
    position: relative;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
